/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
}

.timer-container {
  background-image: url(./img/bg-timer.jpg);
  background-position: center;
  background-size: cover;
  color: rgba(5, 5, 5, 0.925);
  width: 100vw;
  height: 100vh;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}
.wrapper {
  display: flex;
  align-items: center;
}
.time-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px inset rgb(231, 61, 61);
  border-radius: 20px;
  box-shadow: inset 10px 10px 24px -11px rgba(0, 0, 0, 0.4);
}
.amount {
  font-size: 85px;
}
span {
  font-size: 35px;
  padding-left: 20px;
  padding-right: 20px;
} */
